.idea
examples/__pycache__/
gateway/__pycache__/
gateway/builders/__pycache__/
gateway/data_sets/__pycache__/
gateway/http/__pycache__/
gateway/operations/__pycache__/
gateway/utils/__pycache__/
test/__pycache__/
test/utils/__pycache__/
test/operations/__pycache__/
test/builders/__pycache__/
transact_pro_gw3_client.egg-info
tests/__pycache__/
tests/builders/__pycache__/
tests/operations/__pycache__/
tests/utils/__pycache__/
dist
build
*.pyc
venv/